/* Write your code here. */
.container {
  background-image: Linear-gradient(#9796f0, #fbc7d4);
  padding-bottom: 30px;
}
.navHeader {
  padding: 20px;
  background-color: #979192;
}
.emojiContainer {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.scoreCard {
  text-align: center;
}
.emojiImgContainer {
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
  width: 50vw;
}

@media screen and (max-width: 768px) {
  ul {
    list-style: none;
    width: 100vw;
  }
}
